@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: "Public Sans", sans-serif;
  --ui-container: 90rem;
}

.dark {
  --ui-bg: black;
}

.form-field {
  @apply flex items-start justify-between gap-4 max-sm:flex-col;
}
